body{
    background: rgb(0, 0, 0);
}
img{
   width: 20px;
   height: 20px;
}
.print{
    display: flex;
    padding-left: 2%;
  font-size: 20px;
  
}
.temas{
    padding-left: 3%;
    width: 800px;
    padding-right: 3%;
}
h1{
    color: greenyellow;
}
h2{
   color: blue;
}
h5{
    color: azure;
}
p{
    color: green;
}

.cla{
    width: 800px;
}
.button-red {
    color: #ff1b1b;
    border: 20px solid #88ff00;
    background: rgb(51, 253, 0);
    border-radius: 0px;
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
.vid{
    padding-top: 5%;
    padding-right: 3%;
}